@import "tailwindcss";
:root {
	--color-rosePink: #ff66c4ff;
	--color-pictonBlue: #38b6ffff;
	--color-mustard: #ffde59ff;
	--color-black: #040303ff;
	--color-indigo: #540d6eff;
}

/* Font Faces */
.font-hagridItalic {
	font-family: "Hagrid Text Extrabold Italic";
}
.font-hagridRegular {
	font-family: "Hagrid Text Extrabold", "sans-serif";
}
.font-hagridAltItalic {
	font-family: "Hagrid Italic", "sans-serif";
}

.font-royalacid {
	font-family: "Royalacid", "cursive";
}
.font-royalacidOutline {
	font-family: "Royalacid Outline", "cursive";
}
.font-allstar {
	font-family: "All Star Resort", "cursive";
}
.font-neon {
	font-family: "Neon", "cursive";
}
@font-face {
	font-family: "Hagrid Text Extrabold Italic";
	src: url("/fonts/Hagrid-Text-Extrabold-Italic-trial.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "Hagrid Text Extrabold";
	src: url("/fonts/Hagrid-Text-Extrabold-trial.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Hagrid Regular";
	src: url("/fonts/Hagrid-Regular-trial.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Hagrid Italic";
	src: url("/fonts/Hagrid-Italic-trial.ttf") format("truetype");
	font-style: italic;
}

@font-face {
	font-family: "Royalacid";
	src: url("/fonts/Royalacid.ttf") format("truetype");
}
@font-face {
	font-family: "Royalacid Outline";
	src: url("/fonts/Royalacid_o.ttf") format("truetype");
}
@font-face {
	font-family: "All Star Resort";
	src: url("/fonts/All Star Resort.ttf") format("truetype");
}
@font-face {
	font-family: "Neon";
	src: url("/fonts/Neon.ttf") format("truetype");
}

/* Reset */
* {
	box-sizing: border-box;
	margin: auto;
	line-height: normal;
}

/* Base styles */
html,
body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-synthesis: none;
	line-height: 1.5;

	/* Use Tailwind utility classes only in markup, not here */
}

/* Images */
img,
picture,
video {
	max-width: 100%;
	display: block;
}

/* Inputs inherit font */
input,
button,
textarea,
select {
	font: inherit;
}
/* Rose Pink */
.bg-rosePink {
	background-color: var(--color-rosePink);
}
.text-rosePink {
	color: var(--color-rosePink);
}

/* Picton Blue */
.bg-pictonBlue {
	background-color: var(--color-pictonBlue);
}
.text-pictonBlue {
	color: var(--color-pictonBlue);
}

/* Mustard */
.bg-mustard {
	background-color: var(--color-mustard);
}
.text-mustard {
	color: var(--color-mustard);
}

/* Black */
.bg-black {
	background-color: var(--color-black);
}
.text-black {
	color: var(--color-black);
}

/* Indigo */
.bg-indigo {
	background-color: var(--color-indigo);
}
.text-indigo {
	color: var(--color-indigo);
}
