@import "tailwindcss";
:root {
	--color-darkPurple: #32146a;
	--color-darkestPurple: #180a34ff;
	--color-vibrantOrange: #f75c03;
	--color-teaGreen: #d0e3c4;
	--color-magenta: #c45ab3;
	--color-lightPink: #ffe5ea;
}

/* Font Faces */
@font-face {
	font-family: "Hagrid Text Extrabold Italic";
	src: url("/fonts/Hagrid-Text-Extrabold-Italic-trial.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: "Hagrid Text Extrabold";
	src: url("/fonts/Hagrid-Text-Extrabold-trial.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Hagrid Regular";
	src: url("/fonts/Hagrid-Regular-trial.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Hagrid Italic";
	src: url("/fonts/Hagrid-Italic-trial.ttf") format("truetype");
	font-style: italic;
}
@font-face {
	font-family: "Alba Regular";
	src: url("/fonts/ALBA____.TTF") format("truetype");
}
@font-face {
	font-family: "Alba Super";
	src: url("/fonts/ALBAS___.TTF") format("truetype");
}
@font-face {
	font-family: "Alba Modern";
	src: url("/fonts/ALBAM___.TTF") format("truetype");
}
@font-face {
	font-family: "Royalacid";
	src: url("/fonts/Royalacid.ttf") format("truetype");
}
@font-face {
	font-family: "Royalacid Outline";
	src: url("/fonts/Royalacid_o.ttf") format("truetype");
}
@font-face {
	font-family: "All Star Resort";
	src: url("public/fonts/All Star Resort.ttf") format("truetype");
}
@font-face {
	font-family: "Neon";
	src: url("/fonts/Neon.ttf") format("truetype");
}

/* Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Base styles */
html,
body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-synthesis: none;
	line-height: 1.5;

	/* Use Tailwind utility classes only in markup, not here */
}

/* Images */
img,
picture,
video {
	max-width: 100%;
	display: block;
}

/* Inputs inherit font */
input,
button,
textarea,
select {
	font: inherit;
}

/* Example utility classes */
.bg-darkPurple {
	background-color: var(--color-darkPurple);
}
.text-darkPurple {
	color: var(--color-darkPurple);
}

/* Light/Dark mode vars */
@media (prefers-color-scheme: light) {
	html {
		background-color: white;
		color: #213547;
	}
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--color-darkPurple: #1f0f47;
		--color-darkestPurple: #0e0626ff;
		--color-vibrantOrange: #d14400;
		--color-teaGreen: #a0b089;
		--color-magenta: #8a3f87;
		--color-lightPink: #ffc7d1;
	}
} */
